
@import url("navigation-contacts.css");

.feedback {
	width: 660px;
	height: 780px;
	background-color: #eff3f7;
	float: right;
	margin-bottom: 25px;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 5px; /* Firefox äî 4.0 */
}

.top {
	width: 100%;
	height: 120px;
	background-color: #48cbe8;
	position: relative;
	margin-bottom: 54px;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 5px 5px 0 0; /* Firefox äî 4.0 */
}

.top .caption-two {
	display: block;
	font-size: 27px;
	color: #ffffff;
	position: absolute;
	top: 20px;
	left: 57px;
}

.top:after {
	content: "";
	display: block;
	width: 100%;
	height: 18px;
	background-color: #67dffa;
	position: absolute;
	bottom: -18px;
}

.feedback-form {
	display: block;
	width: 410px;
	margin: 0 auto;
	position: relative;
}

input:focus, textarea:focus  {
	outline: none;
}

/*Решение для placeholder*/

input::-webkit-input-placeholder       {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;} /* Firefox 19+ */
input:-moz-placeholder                 {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;} /* Firefox 18- */
input:-ms-input-placeholder            {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;} /* Firefox 19+ */
input:focus:-moz-placeholder           {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;} /* Firefox 18- */
input:focus:-ms-input-placeholder      {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;} /* Firefox 19+ */
textarea:-moz-placeholder                 {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;} /* Firefox 18- */
textarea:-ms-input-placeholder            {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;} /* Firefox 19+ */
textarea:focus:-moz-placeholder           {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;} /* Firefox 18- */
textarea:focus:-ms-input-placeholder      {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;}



.input-left {
	position: relative;
	width: 192px;
	float: left;
	margin-bottom: 10px;
}

.input-right {
	position: relative;
	width: 192px;
	float: right;
	margin-bottom: 10px;
}


.feedback-form label {
	position: relative;
} 

.name, .email  {
	width: 170px;
	height: 40px;
	padding-left: 10px;
	color: #48cbe8;
	font: 13px  'FiraSans Light', Helvetica, sans-serif;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
}

.textarea {
	width: 387px;
	color: #48cbe8;
	padding-left: 10px;
	padding-top: 6px;
	margin-bottom: -8px;
	resize: none;
	vertical-align: middle;
	font: 13px  'FiraSans Light', Helvetica, sans-serif;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
}

.feedback-form  .field_name {
	font: 19px  'FiraSans Light', Helvetica, sans-serif;
	color: #959aa8;
}

.feedback-form .picture {
	display: inline-block;
	vertical-align: middle;
	width: 188px;
	height: 80px;
	margin-right: 16px;
	vertical-align: middle;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
	background: #ffffff url(../images/input-picture.png) 50% 50% no-repeat;
}


.code {
	display: inline-block;
	vertical-align: middle;
	width: 170px;
	padding: 4px 10px;
	color: #48cbe8;
	font: 13px  'FiraSans Light', Helvetica, sans-serif;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
}

.feedback-form input[type="submit"] {
	display: block;
	float: left;
	width: 136px;
	height: 32px;
	color: #ffffff;
	font-size: 19px;
	background-color: #48cbe8;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
	box-shadow: 0 3px 0 -1px #3ba8c0;
	-webkit-box-shadow: 0 3px 0 -1px #3ba8c0;
	-moz-box-shadow: 0 3px 0 -1px #3ba8c0;
}

.feedback-form input[type="reset"] {
	display: block;
	float: right;
	width: 136px;
	height: 32px;
	color: #ffffff;
	font-size: 19px;
	background-color: #849db5;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
	box-shadow: 0 3px 0 -1px #687b8f;
	-webkit-box-shadow: 0 3px 0 -1px #687b8f
	-moz-box-shadow: 0 3px 0 -1px #687b8f;
}

.feedback-form input[type="submit"]:hover {
	padding-top: 2px;
	box-shadow: 0 2px 0 0 #3ba8c0;
	-webkit-box-shadow: 0 2px 0 0 #3ba8c0;
	-moz-box-shadow: 0 2px 0 0 #3ba8c0;
}

.feedback-form input[type="reset"]:hover {
	padding-top: 2px;
	box-shadow: 0 2px 0 0 #687b8f;
	-webkit-box-shadow: 0 2px 0 0 #687b8f
	-moz-box-shadow: 0 2px 0 0 #687b8f;
}
.feedback-form input[type="submit"]:active {
	padding-top: 3px;
	box-shadow: 0 -2px 0   #3ba8c0;
	-webkit-box-shadow: 0 -2px 0  #3ba8c0;
	-moz-box-shadow: 0 -2px 0  #3ba8c0;
}

.feedback-form input[type="reset"]:active {
	padding-top: 3px;
	box-shadow: 0 -2px 0 0  #687b8f;
	-webkit-box-shadow: 0 -2px  0  #687b8f
	-moz-box-shadow: 0 -2px 0  #687b8f;
}

.wrap_input {
	display: inline-block;
	position: relative;
	margin-bottom: 26px;
}

.tooltip {
	padding: 6px 10px 5px;
	font-size: 13px;
	color: #ffffff;
	background-color: #f97e76; 
	white-space: nowrap;
}

.leftHand {
	position: absolute;
	left: -155px;
    top: 25px;
	font-size: 13px;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px 0 0 3px; /* Firefox  4.0 */
	-webkit-transform-origin: right;
    -moz-transform-origin:right;
    -o-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}



.leftHand:after {
	content: "";
	position: absolute;
	right: -31px;
	top: 0px;
	border: 16px solid transparent;
    border-left: 16px solid #f97e76;
}

.rightHand {
	position: absolute;
	right: -114px;
	top: 35%;
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 0 3px 3px 0; /* Firefox  4.0 */
}

.rightHand:before {
	content: "";
	position: absolute;
	left: -31px;
	top: 0px;
	border: 16px solid transparent;
    border-right: 16px solid #f97e76;
}

.error {
	background-color: #fdd5d2;
	border-color: #f97e76;
}