
@font-face {
    font-family: 'FiraSans Book'; /* Гарнитура шрифта */
    src: url(../fonts/firasans-book.eot); /* Для IE5-8 */
    src: local(FiraSans Book), url(../fonts/firasans-book.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'FiraSans Light'; /* Гарнитура шрифта */
    src: url(../fonts/firasans-light.eot); /* Для IE5-8 */
    src: local(FiraSans Book), url(../fonts/firasans-light.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'FiraSans Medium'; /* Гарнитура шрифта */
    src: url(../fonts/firasans-medium.eot); /* Для IE5-8 */
    src: local(FiraSans Medium), url(../fonts/firasans-medium.ttf); /* Для остальных браузеров */
   }

   @font-face {
    font-family: 'FiraSans LightItalic'; /* Гарнитура шрифта */
    src: url(../fonts/firasans-lightitalic.eot); /* Для IE5-8 */
    src: local(FiraSans Medium), url(../fonts/firasans-lightitalic.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'ProximaNovaCond Semibold'; /* Гарнитура шрифта */
    src: local(ProximaNovaCond Semibold), url(../fonts/ProximaNovaCond-Semibold.otf); /* Для остальных браузеров */
   }

article, aside, figure, address, figcaption, footer, header, hgroup, nav, section, summary { 
   display: block;
}

html, body{
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
	min-width: 100%;
    font-family: 'FiraSans Book', Helvetica, sans-serif;
    background: url(../images/background.jpg) repeat;
}
.header {
	width: auto;
	background-color: #eff3f7;
}

.header-core {
	margin: 0 auto;
	max-width: 1210px;
	min-width: 960px;
	height: 120px;
	position: relative;
	background-color: #eff3f7;
}

.header-core .logo {
	position: absolute;
	top: 38px;
}

.header-core .logo img {
	border: none;
}

.social {
	position: absolute;
	right: 22px;
	top: 34px;
}

.social a {
	display: block;
	width: 47px;
	height: 48px;
	float: right;
	margin-left: 20px;
	cursor: pointer;
}

.social a:last-child {
	margin-left: 0;
}

.social .linkGIT {
	background: url("../images/logoSprite.png") -9px -334px no-repeat;
}

.social .linkFB {
	background: url("../images/logoSprite.png") -9px -268px no-repeat;
}

.social .linkTW {
	background: url("../images/logoSprite.png") -9px -398px no-repeat;
}

.social .linkVK {
	background: url("../images/logoSprite.png") -9px -204px no-repeat;
}

.social .linkGIT:hover {
	background: url("../images/logoSprite.png") -9px -75px  no-repeat;
}

.social .linkFB:hover {
	background: url("../images/logoSprite.png") -9px -9px no-repeat;
}

.social .linkTW:hover {
	background: url("../images/logoSprite.png") -9px -139px  no-repeat;
}

.social .linkVK:hover {
	background: url("../images/logoSprite.png") -9px -463px no-repeat;
}

.header-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: rgb(255,255,255); /* Old browsers */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.ie8 .header-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: url(../images/blue-line.jpg) center center no-repeat;
}
/* End of the header */

.wrap {
	min-height: 100%;
    height: auto !important;
    height: 100%;
	margin-top: 40px;
	margin-bottom: -80px;
    padding: 0;
}

.wrap-core {
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	width: 960px;
}

/* End of wrap style, begining of main menu */
aside {
	float: left;
}

.mainmenu {
	margin-bottom:  25px;
}

.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 250px;
	overflow: hidden;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 5px 5px 5px 5px; /* Firefox äî 4.0 */
}


.mainmenu li {
	font-size: 21px;
	position: relative;
}

.mainmenu a {
	display: block;
	padding: 20px 28px;
	background-color: #eff3f7;
	color: #959aa8;
	text-decoration: none;
} 


.mainmenu li:not(:last-child):after {
	content:"";
	display: block;
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 230px;
	margin: 0px 10px;
	background-color: #3ba8c0;
}

.mainmenu a:hover {
	color: #3ba8c0;
}

.mainmenu .current a {
	background-color: #3ba8c0;
	color: #ffffff;
	margin: -2px 0;
}

/*Begining of sidebar*/

.contacts {
	width: 250px;
	font-style: normal;
}

.contacts span {
	display: block;
	padding: 6px 18px 0px;
	color: #ffffff;
	font-size: 21px;
	background-color: #3ba8c0;
}

.contacts a {
	position: relative;
	display: block;
	padding: 10px 0px 4px 80px;
	color: #ffffff;
	font-size: 17px;
	text-decoration: none;
}

.contacts .mail {background-color: #41b9d4;}
.contacts .phone {background-color: #48cbe8;}
.contacts .skype {background-color: #51daf8;}

.contacts a:before {
	content:'';
	display: block;
	width: 21px;
	height: 21px;
	position: absolute;
	left: 40px;
	top: 12px;
}


.contacts a.mail:before {
	background: url(../images/iconSprite.png) -15px -198px no-repeat;
}

.contacts a.phone:before {
	background: url(../images/iconSprite.png) -15px -301px no-repeat;
}

.contacts a.skype:before {
	background: url(../images/iconSprite.png) -15px -415px no-repeat;
}

.contacts span {
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 5px 5px 0px 0px; /* Firefox äî 4.0 */
}

.contacts a:last-child {
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 0px 0px 5px 5px; /* Firefox äî 4.0 */
}

/*End of sidebar*/

/*End of main menu */

.feedback {
	width: 660px;
	height: 780px;
	background-color: #eff3f7;
	float: right;
	margin-bottom: 25px;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 5px; /* Firefox äî 4.0 */
}

.top {
	width: 100%;
	height: 120px;
	background-color: #48cbe8;
	position: relative;
	margin-bottom: 54px;
}

.top .caption-two {
	display: block;
	font-size: 27px;
	color: #ffffff;
	position: absolute;
	top: 20px;
	left: 57px;
}

.top:after {
	content: "";
	display: block;
	width: 100%;
	height: 18px;
	background-color: #67dffa;
	position: absolute;
	bottom: -18px;
}

.feedback-form {
	display: block;
	width: 410px;
	margin: 0 auto;
	position: relative;
}

input:focus, textarea:focus  {
	outline: none;
}

/*Решение для placeholder*/

input::-webkit-input-placeholder       {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;} /* Firefox 19+ */
input:-moz-placeholder                 {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;} /* Firefox 18- */
input:-ms-input-placeholder            {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;} /* Firefox 19+ */
input:focus:-moz-placeholder           {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;} /* Firefox 18- */
input:focus:-ms-input-placeholder      {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;} /* Firefox 19+ */
textarea:-moz-placeholder                 {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;} /* Firefox 18- */
textarea:-ms-input-placeholder            {color: #48cbe8; opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;} /* Firefox 19+ */
textarea:focus:-moz-placeholder           {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;} /* Firefox 18- */
textarea:focus:-ms-input-placeholder      {color: #48cbe8; opacity: 0; transition: opacity 0.3s ease;}


.input-left {
	width: 192px;
	float: left;
	margin-bottom: 10px;
}

.input-right {
	width: 192px;
	float: right;
	margin-bottom: 10px;
}

.feedback-form .name,
.feedback-form .mail  {
	width: 170px;
	height: 40px;
	padding-left: 10px;
	color: #48cbe8;
	font: 13px  'FiraSans Light', Helvetica, sans-serif;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
}

.feedback-form .textarea {
	width: 388px;
	height: 176px;
	color: #48cbe8;
	padding-left: 10px;
	padding-top: 6px;
	margin-bottom: -8px;
	font: 13px  'FiraSans Light', Helvetica, sans-serif;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
}

.feedback-form  label {
	font: 19px  'FiraSans Light', Helvetica, sans-serif;
	color: #959aa8;
}

.feedback-form .picture {
	display: inline-block;
	width: 188px;
	height: 80px;
	margin-right: 16px;
	margin-bottom: 20px;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
	background: #ffffff url(../images/input-picture.png) 50% 50% no-repeat;
}


.feedback-form .code {
	display: inline-block;
	width: 170px;
	padding: 4px 10px;
	margin-bottom: 20px;
	color: #48cbe8;
	font: 13px  'FiraSans Light', Helvetica, sans-serif;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
}

.feedback-form input[type="submit"] {
	display: block;
	float: left;
	width: 136px;
	height: 32px;
	color: #ffffff;
	font-size: 19px;
	background-color: #48cbe8;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
	box-shadow: 0 3px 0 -1px #3ba8c0;
	-webkit-box-shadow: 0 3px 0 -1px #3ba8c0;
	-moz-box-shadow: 0 3px 0 -1px #3ba8c0;
}

.feedback-form input[type="reset"] {
	display: block;
	float: right;
	width: 136px;
	height: 32px;
	color: #ffffff;
	font-size: 19px;
	background-color: #849db5;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Chrom  4.0 & Safari äî 5.0*/
	-moz-border-radius: 3px; /* Firefox  4.0 */
	box-shadow: 0 3px 0 -1px #687b8f;
	-webkit-box-shadow: 0 3px 0 -1px #687b8f
	-moz-box-shadow: 0 3px 0 -1px #687b8f;
}

.feedback-form input[type="submit"]:hover {
	padding-top: 2px;
	box-shadow: 0 2px 0 0 #3ba8c0;
	-webkit-box-shadow: 0 2px 0 0 #3ba8c0;
	-moz-box-shadow: 0 2px 0 0 #3ba8c0;
}

.feedback-form input[type="reset"]:hover {
	padding-top: 2px;
	box-shadow: 0 2px 0 0 #687b8f;
	-webkit-box-shadow: 0 2px 0 0 #687b8f
	-moz-box-shadow: 0 2px 0 0 #687b8f;
}
.feedback-form input[type="submit"]:active {
	padding-top: 3px;
	box-shadow: 0 -2px 0   #3ba8c0;
	-webkit-box-shadow: 0 -2px 0  #3ba8c0;
	-moz-box-shadow: 0 -2px 0  #3ba8c0;
}

.feedback-form input[type="reset"]:active {
	padding-top: 3px;
	box-shadow: 0 -2px 0 0  #687b8f;
	-webkit-box-shadow: 0 -2px  0  #687b8f
	-moz-box-shadow: 0 -2px 0  #687b8f;
}
/* End of my-works block */ 
/*Begining of footer*/

.clear {
	clear: both;
	display: block;
	height: 80px;
}

.footer { 
    height: 80px;
    min-width: 1100px;
	background-color: #eff3f7;
	font: 13px 'FiraSans Light', Arial, sans-serif;
    color: #4a545d;
}

.footer-core {
	margin: 0 auto;
	width: 960px;
	position: relative; 
}

.footer-core .footer-text {
	margin: 0 180px;
	padding-top: 30px;
	text-align: center;
}

.footer-core .lock {
	position: absolute;
	top: 26px;
	left: 20px;
}

.lock a {
	display: block;
	height: 40px;
	font: 16px 'FiraSans Light', Arial, sans-serif;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	background: url(../images/iconSprite.png) -10px -70px no-repeat;
	padding-left: 40px;
}


.lock a:hover {
	text-decoration: underline;
	background: url(../images/iconSprite.png) -10px -8px no-repeat;
}

.footer-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	top: 0px;
	background: rgb(255,255,255); /* Old browsers */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.ie8 .footer-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: url(../images/blue-line.jpg) center center no-repeat;
}
