
@font-face {
    font-family: 'FiraSans Book'; 
    src: url(../fonts/firasans-book.eot); /* Для IE5-8 */
    src: local(FiraSans Book), url(../fonts/firasans-book.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'FiraSans Bold'; 
    src: url(../fonts/firasans-bold.eot); /* Для IE5-8 */
    src: local(FiraSans Book), url(../fonts/firasans-bold.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'FiraSans Light'; 
    src: url(../fonts/firasans-light.eot); /* Для IE5-8 */
    src: local(FiraSans Book), url(../fonts/firasans-light.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'FiraSans Medium'; 
    src: url(../fonts/firasans-medium.eot); /* Для IE5-8 */
    src: local(FiraSans Medium), url(../fonts/firasans-medium.ttf); /* Для остальных браузеров */
   }

@font-face {
	font-family: 'FiraSans Regular'; 
	src: url(../firasans-regular.eot); /* Для IE5-8 */
	src: local(FiraSans Book), url(../fonts/firasans-regular.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'ProximaNovaCond Semibold'; 
    src: local(ProximaNovaCond Semibold), url(../fonts/ProximaNovaCond-Semibold.otf); /* Для остальных браузеров */
   }

article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary, address { 
   display: block;
}

html, body{
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
	min-width: 100%;
    font-family: 'FiraSans Book', Helvetica, sans-serif;
    background: url(../images/background.jpg) repeat;
}

.header {
	min-width: 1100px;
	background-color: #eff3f7;
	margin-bottom: 40px;
}

.header-core {
	margin: 0 auto;
	max-width: 1210px;
	min-width: 960px;
	height: 118px;
	position: relative;
	background-color: #eff3f7;
}

.header-core .logo {
	position: absolute;
	top: 10px;
}

.header-core .logo img {
	border: none;
}

.social {
	position: absolute;
	right: 22px;
	top: 34px;
}

.social a {
	display: block;
	width: 47px;
	height: 48px;
	float: right;
	margin-left: 20px;
	cursor: pointer;
}

.social a:last-child {
	margin-left: 0;
}

.social .linkGIT {
	background: url("../images/logoSprite.png") -9px -334px no-repeat;
}

.social .linkFB {
	background: url("../images/logoSprite.png") -9px -268px no-repeat;
}

.social .linkTW {
	background: url("../images/logoSprite.png") -9px -398px no-repeat;
}

.social .linkVK {
	background: url("../images/logoSprite.png") -9px -204px no-repeat;
}

.social .linkGIT:hover {
	background: url("../images/logoSprite.png") -9px -75px  no-repeat;
}

.social .linkFB:hover {
	background: url("../images/logoSprite.png") -9px -9px no-repeat;
}

.social .linkTW:hover {
	background: url("../images/logoSprite.png") -9px -139px  no-repeat;
}

.social .linkVK:hover {
	background: url("../images/logoSprite.png") -9px -463px no-repeat;
}

.header-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: rgb(239,243,247); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(239,243,247,1) 0%, rgba(31,104,124,1) 50%, rgba(239,243,247,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(239,243,247,1) 0%,rgba(31,104,124,1) 50%,rgba(239,243,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(239,243,247,1) 0%,rgba(31,104,124,1) 50%,rgba(239,243,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f7', endColorstr='#eff3f7',GradientType=1 ); /* IE6-9 */
	}


.ie8 .header-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: url(../images/blue-line.jpg) center center no-repeat;
}

/* End of the header */
.wrap {
	min-height: 100%;
    height: auto !important;
    height: 100%;
	margin-bottom: -80px;
    padding: 0;
}

.wrap-core {
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	width: 960px;
}

/* End of wrap style */



.clear {
	clear: both;
	display: block;
	height: 80px;
}
/* End of education block */
/*Begining of footer*/

.footer { 
    height: 80px;
    min-width: 1100px;
	background-color: #eff3f7;
	font: 13px 'FiraSans Light', Arial, sans-serif;
    color: #4a545d;
}

.footer-core {
	margin: 0 auto;
	width: 960px;
	position: relative; 
}

.footer-core .footer-text {
	margin: 0 180px;
	padding-top: 30px;
	text-align: center;
}

.footer-core .lock {
	position: absolute;
	top: 26px;
	left: 20px;
}

.lock a {
	display: block;
	height: 40px;
	font: 16px 'FiraSans Light', Arial, sans-serif;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	background: url(../images/iconSprite.png) -10px -70px no-repeat;
	padding-left: 40px;
}


.lock a:hover {
	text-decoration: underline;
	background: url(../images/iconSprite.png) -10px -8px no-repeat;
}

.footer-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	top: 0px;
	background: rgb(239,243,247); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(239,243,247,1) 0%, rgba(31,104,124,1) 50%, rgba(239,243,247,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(239,243,247,1) 0%,rgba(31,104,124,1) 50%,rgba(239,243,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(239,243,247,1) 0%,rgba(31,104,124,1) 50%,rgba(239,243,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f7', endColorstr='#eff3f7',GradientType=1 ); /* IE6-9 */
}


.ie8 .footer-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	top: 0px;
	background: url(../images/blue-line.jpg) center center no-repeat;
}

.error {
	background-color: #fdd5d2;
	border-color: #f97e76;
}

