
@font-face {
    font-family: 'FiraSans Book'; /* Гарнитура шрифта */
    src: url(../fonts/firasans-book.eot); /* Для IE5-8 */
    src: local(FiraSans Book), url(../fonts/firasans-book.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'FiraSans Light'; /* Гарнитура шрифта */
    src: url(../fonts/firasans-light.eot); /* Для IE5-8 */
    src: local(FiraSans Book), url(../fonts/firasans-light.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'FiraSans Medium'; /* Гарнитура шрифта */
    src: url(../fonts/firasans-medium.eot); /* Для IE5-8 */
    src: local(FiraSans Medium), url(../fonts/firasans-medium.ttf); /* Для остальных браузеров */
   }

   @font-face {
    font-family: 'FiraSans LightItalic'; /* Гарнитура шрифта */
    src: url(../fonts/firasans-lightitalic.eot); /* Для IE5-8 */
    src: local(FiraSans Medium), url(../fonts/firasans-lightitalic.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: 'ProximaNovaCond Semibold'; /* Гарнитура шрифта */
    src: local(ProximaNovaCond Semibold), url(../fonts/ProximaNovaCond-Semibold.otf); /* Для остальных браузеров */
   }

article, aside, figure, figcaption, footer, header, hgroup, nav, section, address, summary { 
   display: block;
}

html, body{
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
	min-width: 100%;
    font-family: 'FiraSans Book', Helvetica, sans-serif;
    background: url(../images/background.jpg) repeat;
}
.header {
	width: auto;
	background-color: #eff3f7;
}

.header-core {
	margin: 0 auto;
	max-width: 1210px;
	min-width: 960px;
	height: 118px;
	position: relative;
	background-color: #eff3f7;
}

.header-core .logo {
	position: absolute;
	top: 38px;
}

.header-core .logo img {
	border: none;
}

.social {
	position: absolute;
	right: 22px;
	top: 34px;
}

.social a {
	display: block;
	width: 47px;
	height: 48px;
	float: right;
	margin-left: 20px;
	cursor: pointer;
}

.social a:last-child {
	margin-left: 0;
}

.social .linkGIT {
	background: url("../images/logoSprite.png") -9px -334px no-repeat;
}

.social .linkFB {
	background: url("../images/logoSprite.png") -9px -268px no-repeat;
}

.social .linkTW {
	background: url("../images/logoSprite.png") -9px -398px no-repeat;
}

.social .linkVK {
	background: url("../images/logoSprite.png") -9px -204px no-repeat;
}

.social .linkGIT:hover {
	background: url("../images/logoSprite.png") -9px -75px  no-repeat;
}

.social .linkFB:hover {
	background: url("../images/logoSprite.png") -9px -9px no-repeat;
}

.social .linkTW:hover {
	background: url("../images/logoSprite.png") -9px -139px  no-repeat;
}

.social .linkVK:hover {
	background: url("../images/logoSprite.png") -9px -463px no-repeat;
}

.header-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: rgb(255,255,255); /* Old browsers */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.ie8 .header-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: url(../images/blue-line.jpg) center center no-repeat;
}
/* End of the header */
.wrap {
	min-height: 100%;
    height: auto !important;
    height: 100%;
	margin-top: 40px;
	margin-bottom: -80px;
    padding: 0;
}

.wrap-core {
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	width: 960px;
}

/* End of wrap style, begining of main menu */

img {
	border: none;
}

aside {
	float: left;
}

.mainmenu {
	margin-bottom:  25px;
}

.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 250px;
	overflow: hidden;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 5px 5px 5px 5px; /* Firefox äî 4.0 */
}


.mainmenu li {
	font-size: 21px;
	position: relative;
}

.mainmenu a {
	display: block;
	padding: 20px 28px;
	background-color: #eff3f7;
	color: #959aa8;
	text-decoration: none;
} 


.mainmenu li:not(:last-child):after {
	content:"";
	display: block;
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 230px;
	margin: 0px 10px;
	background-color: #3ba8c0;
}

.mainmenu a:hover {
	color: #3ba8c0;
}

.mainmenu .current a {
	background-color: #3ba8c0;
	color: #ffffff;
	margin: -2px 0;
}

/*Begining of sidebar*/

.contacts {
	width: 250px;
	font-style: normal;
}

.contacts span {
	display: block;
	padding: 6px 18px 0px;
	color: #ffffff;
	font-size: 21px;
	background-color: #3ba8c0;
}

.contacts a {
	position: relative;
	display: block;
	padding: 10px 0px 4px 80px;
	color: #ffffff;
	font-size: 17px;
	text-decoration: none;
}

.contacts .mail {background-color: #41b9d4;}
.contacts .phone {background-color: #48cbe8;}
.contacts .skype {background-color: #51daf8;}

.contacts a:before {
	content:'';
	display: block;
	width: 21px;
	height: 21px;
	position: absolute;
	left: 40px;
	top: 12px;
}


.contacts a.mail:before {
	background: url(../images/iconSprite.png) -15px -198px no-repeat;
}

.contacts a.phone:before {
	background: url(../images/iconSprite.png) -15px -301px no-repeat;
}

.contacts a.skype:before {
	background: url(../images/iconSprite.png) -15px -415px no-repeat;
}

.contacts span {
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 5px 5px 0px 0px; /* Firefox äî 4.0 */
}

.contacts a:last-child {
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 0px 0px 5px 5px; /* Firefox äî 4.0 */
}

/*End of sidebar*/

.my-works {
	width: 610px;
	height: 780px;
	overflow: auto;
	padding: 0px 0px 45px 20px;
	background-color: #eff3f7;
	float: right;
	margin-bottom: 25px;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 5px; /* Firefox äî 4.0 */
}

.my-works .caption-two {
	color: #3ba8c0;
	font-size: 27px;
	position: relative;
	line-height: 22px;
	margin-bottom: 48px; 
}

.my-works h2.caption-two:after {
	content:'';
	display: block;
	width: 208px;
	height: 2px;
	background-color: #3ba8c0;
	position: absolute;
	left: -20px;
	bottom: -22px;
}

.works {
	display: inline-block;
	height: 235px;
	width: 185px;
	overflow: auto;
	text-align: center;
	vertical-align:top;
	margin-right: 14px;
	margin-bottom: 10px;
}

.image-wrap {
	height: 126px;
	width: 180px;
	overflow: hidden;
	border: 2px solid #32a7bd;
	border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px; /* Chrom äî 4.0 è Safari äî 5.0 */
	-moz-border-radius: 5px 5px; /* Firefox äî 4.0 */
	background-color: #016ca4;
	position: relative;
}

.image-wrap  .link {
	font-size: 12px;
	color: #ffffff;
	padding: 0px 4px;
	border: 3px solid #ffffff;
	position: absolute;
	top: 50px;
	left: 54px;
	border-radius: 7px;
	-webkit-border-radius: 7px; /* Chrom äî 4.0 è Safari äî 5.0 */
	-moz-border-radius: 7px; /* Firefox äî 4.0 */
	z-index: 1;
}

.image-wrap img {
	position: relative;
	z-index: 3;
}

.image-wrap img:hover {
	opacity: 0.2;
}

.works > a {
	display: block;
	padding: 5px 0px;
	font: 13px 'FiraSans LightItalic', Arial, sans-serif;
	color: #41b9d4;
	text-decoration: none;
}

.works span {
	font: 15px 'FiraSans Light', Arial, sans-serif;
	color: #4a545d;
}

.new-work {
	display: inline-block;
	height: 126px;
	width: 180px;
	text-align: center;
	border: 2px dashed #7cc3d4;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Chrom äî 4.0 è Safari äî 5.0 */
	-moz-border-radius: 5px; /* Firefox äî 4.0 */
	background: #edf8fc url("../images/logo-create.png") center 40% no-repeat;
	position: relative;
}

.new-work span {
	font: 13px 'FiraSans Light', Arial, sans-serif;
	color: #3ba8c0;
	position: absolute;
	top: 80px;
	left: 45px;
}

.new-work a {
	display: block;
	height: 126px;
	width: 180px;
}



/* End of my-works block */
/*Begining of footer*/

.clear {
	clear: both;
	display: block;
	height: 80px;
}

.footer { 
    height: 80px;
    min-width: 1100px;
	background-color: #eff3f7;
	font: 13px 'FiraSans Light', Arial, sans-serif;
    color: #4a545d;
}

.footer-core {
	margin: 0 auto;
	width: 960px;
	position: relative; 
}

.footer-core .footer-text {
	margin: 0 180px;
	padding-top: 30px;
	text-align: center;
}

.footer-core .lock {
	position: absolute;
	top: 26px;
	left: 20px;
}

.lock a {
	display: block;
	height: 40px;
	font: 16px 'FiraSans Light', Arial, sans-serif;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	background: url(../images/iconSprite.png) -10px -70px no-repeat;
	padding-left: 40px;
}


.lock a:hover {
	text-decoration: underline;
	background: url(../images/iconSprite.png) -10px -8px no-repeat;
}

.footer-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	top: 0px;
	background: rgb(255,255,255); /* Old browsers */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(28,102,122,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.ie8 .footer-core:after {
	content:" ";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: url(../images/blue-line.jpg) center center no-repeat;
}