
@import url("navigation-contacts.css");

.my-works {
	width: 610px;
	height: 780px;
	overflow: auto;
	padding: 0px 0px 45px 20px;
	background-color: #eff3f7;
	float: right;
	margin-bottom: 25px;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Chrom äî 4.0 è Safari äî 5.0*/
	-moz-border-radius: 5px; /* Firefox äî 4.0 */
}

.my-works .caption-two {
	color: #3ba8c0;
	font-size: 27px;
	position: relative;
	line-height: 22px;
	margin-bottom: 48px; 
}

.my-works h2.caption-two:after {
	content:'';
	display: block;
	width: 208px;
	height: 2px;
	background-color: #3ba8c0;
	position: absolute;
	left: -20px;
	bottom: -22px;
}

.works {
	display: inline-block;
	width: 185px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align:top;
	margin-right: 14px;
	margin-bottom: 10px;
}

.image-wrap {
	height: 126px;
	width: 180px;
	overflow: hidden;
	border: 2px solid #32a7bd;
	border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px; /* Chrom äî 4.0 è Safari äî 5.0 */
	-moz-border-radius: 5px 5px; /* Firefox äî 4.0 */
	background-color: #016ca4;
	position: relative;
}

.image-wrap  .link {
	font-size: 12px;
	color: #ffffff;
	padding: 0px 4px;
	border: 3px solid #ffffff;
	position: absolute;
	top: 50px;
	left: 54px;
	border-radius: 7px;
	-webkit-border-radius: 7px; /* Chrom äî 4.0 è Safari äî 5.0 */
	-moz-border-radius: 7px; /* Firefox äî 4.0 */
	z-index: 1;
}

.image-wrap img {
	position: relative;
	z-index: 3;
}

.image-wrap img:hover {
	opacity: 0.2;
}

.works > a {
	display: block;
	padding: 5px 0px;
	font: 13px 'FiraSans LightItalic', Arial, sans-serif;
	color: #41b9d4;
	text-decoration: none;
}

.works span {
	font: 15px 'FiraSans Light', Arial, sans-serif;
	color: #4a545d;
}

.new-work {
	display: inline-block;
	height: 126px;
	width: 180px;
	text-align: center;
	border: 2px dashed #7cc3d4;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Chrom äî 4.0 è Safari äî 5.0 */
	-moz-border-radius: 5px; /* Firefox äî 4.0 */
	background: #edf8fc url("../images/logo-create.png") center 40% no-repeat;
	position: relative;
}

.new-work span {
	font: 13px 'FiraSans Light', Arial, sans-serif;
	color: #3ba8c0;
	position: absolute;
	top: 80px;
	left: 45px;
}

.new-work a {
	display: block;
	height: 126px;
	width: 180px;
}



/* End of my-works block */